body {
  margin: 0px auto 0px auto;
  font-family: "Helvetica", sans-serif;
  line-height: 1.4em;
}

@media (max-width: 799px) {
    h3, p, strong {
        display: block;
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (min-width: 800px) {
  body {
    width: 750px;
  }
}

h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
}

h3 {
    font-size: 1em;
    border-bottom: 1px dashed #ccc;
    clear: both;
}

a {
    text-decoration: none;
    color: #900;
}

a:hover {
    text-decoration: underline;
}

strong {
    color: #555;
}

a strong {
    color: #900;
}

div.desc {
    padding-left: 20px;
    margin-bottom: 15px;
}

div#navigation {
    padding: 10px 0px;
    border-bottom: 1px solid #ccc;
}

div#navigation .t {
    margin: 0px;
    padding: 3px 4px;
    color: #000;
}

div#navigation .b {
    font-weight: bold;
}

@media (max-width: 799px) {
  div#navigation .t:first-child {
    border-bottom: 1px solid #ccc;
    padding-bottom: 8px;
    margin-bottom: 8px;
  }
  div#navigation .t {
    display: block;
    text-align: center;
  }
  div#navigation .h {
    display: none;
  }
}

div#footer {
    margin: 10px 0px;
    padding: 10px;
    border-top: 1px solid #ccc;
    font-size: 14px;
}


pre {
    padding: 5px;
    margin: 15px;
}

code, pre {
  background-color: #eee;
  overflow-x: auto;
}

.imgr {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    border: 4px solid #ccc;
    border-radius: 75px;
    width: 150px;
    overflow: hidden;
    height: 150px;
    text-align: center;
}

@media (min-width: 800px) {
    .imgr {
    float: right;
    }
}

@media (max-width: 799px) {
    .imgr {
    margin: 10px auto;
    }
}

img {
    width: 100%;
    height: 100%;
}

