<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>dbp.io :: $title$</title>
        <link rel="stylesheet" type="text/css" href="/css/default.css" />
    </head>
    <body>
        <div id="navigation">
            <a href="http://dbp.io">dbp.io</a>
            <a href="#" title="site created with hakyll, http://jaspervdj.be/hakyll/">::</a>
            <a href="/index.html">About</a>
            <a href="/essays.html">Essays</a>
            <a href="/projects.html">Projects</a>
        </div>
        $body$
        <div id="footer">
            last modified: <a href="http://github.com/dbp/website/commits">$modified$</a> | <a href="/rss.xml">rss feed</a>
        </div>
    </body>
</html>
