<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>dbp.io :: $title$</title>
        <link rel="stylesheet" type="text/css" href="/css/default.css" />
        <link rel="stylesheet" type="text/css" href="/css/syntax.css" />
    </head>
    <body>
        <div id="navigation">
          <a class="t b" href="https://dbp.io">Daniel Patterson</a>
          <span class="t h">::</span>

          <span class="t">
            email: <a href="mailto:dbp@dbpmail.net">dbp@dbpmail.net</a>
          </span>
          <span class="t">
            office: 317 <a href="https://goo.gl/maps/ct9YhUy8oZM4myBa9">Meserve Hall</a>
            </span>

        </div>
        <main>

        </main>
    </body>
</html>
